name: Tavan Avcisi Otomasyonu

on:
  schedule:
    - cron: '15 07 * * 1-5'  # TR Saati 10:15
    - cron: '30 14 * * 1-5'  # TR Saati 17:30
  workflow_dispatch:

jobs:
  run_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Kodları Çek
        uses: actions/checkout@v4
      - name: Python Kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Kütüphaneleri Yükle
        run: pip install pandas yfinance requests pandas-ta
      - name: Robotu Çalıştır
        run: python ana_kontrol.py
